.header {
  max-width: 880px;
  min-height: 74px;
  width: 100%;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  transition: 0.5s;
  padding: 45px 0 19px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 765px) {
  .header {
    min-height: 56px;
    padding-top: 28px;
  }
}
