.popup__error {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  max-height: 15px;
  color: #ff0000;
  visibility: visible;
  margin: 0;
  box-sizing: border-box;
  padding-top: 4.5px;
}
