.header__user-email {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
  margin: 0;
  padding-right: 24px;
}
